html, body {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.one-line {
    display: none
}

#main-wrapper {
    margin: 0 auto;
    max-width: 42rem;
    padding: 20px;
    width: auto;
    line-height: 1.6;
}

#main {
    height: 100%;
}

#title {
    justify-content: space-between;
    display: flex;
    line-height: 1.0;
}

#headshot-wrapper {
    margin-left: 20px;
    max-width: 150px;
    flex: 1 0 80px;
}

.small-caps {
    font-variant-caps: small-caps;
    font-size: 18px;
}

@media only screen and (max-width: 360px) {
    #headshot-wrapper {
        display: none;
    }
}

#headshot {
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 5px 0px rgba(124, 125, 135, 0.35);
    border-radius: 0.25rem;
}

.mono {
    font-family: Consolas, monospace;
    opacity: 0.75;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
}

.a:link, .a:visited {
    text-decoration: none;
}

.a:hover, .a:active {
    text-decoration: underline;
}

.icon {
    width: 18px;
    margin-right: 2px;
    opacity: 0.75;
    text-decoration: none;
}

.icon-wrapper:link, .icon-wrapper:active, .icon-wrapper:hover, .icon-wrapper:visited {
    text-decoration: none;
}

#email {
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

#email, #email:link, #email:visited, #email:hover, #email:active {
    color: black;
}

#email:hover, #email:active {
    text-decoration: underline;
}

h2 {
    margin-top: 1.4em;
    font-size: 1.2em;
}
.a, .a:link, .a:visited {
    text-decoration: none;
    color: black;
    border-bottom: #aaa 0.1em solid;
}
.a:hover, .a:focus {
    background: rgba(0,0,0,0.07);
    transition-property: background color;
    transition-duration: 0.1s;
    color: black;
}

.unstyled-link, .unstyled-link:link, .unstyled-link:visited {
    border: none;
    text-decoration: none;
}

td {
    padding-bottom: 10px;
}

.venue {
    width: 8em;
    vertical-align: top;
}

.author {
    font-weight: bold;
    /* text-decoration: underline; */
}

.pub-title .a {
    font-weight: bold;
    color: black !important;
}


@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
    #email, #email:link, #email:active, #email:hover, #email:active {
        color: white;
    }
    body {
        color: #ccc;
        background-color: #111;
    }
    .pub-title .a {
        font-weight: bold;
        color: white !important;
    }
    h1, h2 {
        color: white;
    }
    .a, .a:link, .a:visited {
        text-decoration: none;
        color: #ccc;
        border-bottom: #666 0.1em solid;
    }
    .a:hover, .a:focus {
        background: rgba(255,255,255,0.07);
        transition-property: background color;
        transition-duration: 0.1s;
        color: white;
    }
    .icon-wrapper, #email {
        border: none !important;
    }
    /* alternate style end */
}
