html, body {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.one-line {
    display: none
}

#main-wrapper {
    margin: 0 auto;
    max-width: 43rem;
    padding: 20px;
    width: auto;
    line-height: 1.6;
}

#main {
    height: 100%;
}

#title {
    justify-content: space-between;
    display: flex;
    line-height: 1.0;
}

#headshot-wrapper {
    margin-left: 20px;
    max-width: 150px;
    flex: 1 0 80px;
}

.small-caps {
    font-variant-caps: small-caps;
    font-size: 18px;
}

@media only screen and (max-width: 360px) {
    #headshot-wrapper {
        display: none;
    }
}

#headshot {
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 5px 0px rgba(124, 125, 135, 0.35);
    border-radius: 0.25rem;
}

.mono {
    font-family: Inconsolata, Consolas, monospace;
    font-size: 18px;
    opacity: 0.75;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.icon {
    width: 18px;
    margin-right: 2px;
    opacity: 0.75;
    text-decoration: none;
}

.icon-wrapper:link, .icon-wrapper:active, .icon-wrapper:hover, .icon-wrapper:visited {
    text-decoration: none;
}

#email {
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}

#email, #email:link, #email:visited, #email:hover, #email:active {
    color: black;
}

#email:hover, #email:active {
    text-decoration: underline;
}

h2 {
    margin-top: 1.4em;
    font-size: 1.2em;
    font-weight: 600;
}
a.a, a.a:link, a.a:visited {
    color: blue;
    font-weight: 500;
    border-bottom: 1px solid rgba(125,125,125,0);
}

a.a.light {
    color: black;
    font-weight: normal;
}

a.light-venue {
    font-weight: normal;
}

td {
    padding-bottom: 10px;
}

.venue {
    /* width: 8em; */
    width: 5em;
    vertical-align: top;
    text-align: right;
    padding-right: 0.5em;
}

.em {
    font-style: italic;
}

.author {
    font-weight: 600;
    /* text-decoration: underline; */
}

.smaller {
    font-size: 0.9em;
    /* opacity: 0.6; */
}

.btn-link {
    display: inline-block;
    font-size: 0.8em;
    padding: 0px 5px;
    margin: 0 1px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #fafafa;
    color: #666;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.1s ease;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    top: -0.5px;
}

.btn-link:hover {
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(1);
    }
    #email, #email:link, #email:active, #email:hover, #email:active {
        color: white;
    }
    body {
        color: #bbb;
        background-color: #111;
    }
    h1 {
        color: white;
    }
    a.a, a.a:link, a.a:visited, a.a:active, a.a:hover {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(125,125,125,.4);
        transition: border .1s ease-in-out;
    }
    a.a:hover {
        border-bottom: 1px solid rgba(125,125,125,1);
    }
    a.a.light {
        color: #bbb;
        border-bottom: none;
    }
    a.a.light:hover {
        text-decoration: underline;
    }
    .icon-wrapper, #email {
        border: none !important;
    }
    /* a.smaller {
        color: #888;
    } */
    
    .btn-link {
        background-color: #2a2d31;
        border-color: #3a3d42;
        color: #aaa;
    }
    
    .btn-link:hover {
        background-color: #3a3d42;
        border-color: #4a4d52;
        color: #ddd;
    }
}
